$maincolor: #fc645f;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.main{
    
}
header{
    width: 100%;
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .5)
    }
    .container{
        height: 100vh;
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 6fr 1fr;
    }
    .head{
        z-index: 100;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        grid-column-gap: 10px;
        .logo{
            color: #fff;
            font-weight:bold;
            font-size: 1.4em;
            cursor: pointer;
            span{
                color: #fff;
                border: 1px solid $maincolor;
                padding: 8px;
                background-color: $maincolor;
            }
        }
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: end;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            a{
                display: inline-block;
                color: #fff;
                &:after{
                    content: "";
                    display: block;
                    width: 0%;
                    height: 4px;
                    background-color: $maincolor;
                    transition: width .3s;
                }
                &:hover{
                    color: $maincolor;
                    transition: all .3s ease-out 0.1s;
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
    }
    .body{
        z-index: 100;
        align-self: center;
        color: #fff;
        text-align: center;
        h1{
            font-size: 3.5em;
            display: block;
            position: relative;
            text-transform: uppercase;
            span{
                color: $maincolor;
            }
            &:before{
                content: "";
                display: block;
                width: 10%;
                height: 12px;
                position: absolute;
                top: 40%;
                background-color: #949699;
            }
            &:after{
                content: "";
                display: block;
                width: 10%;
                height: 12px;
                position: absolute;
                top: 40%;
                right: 0;
                background-color: #949699;
            }
        }
        p{
            display: block;
            font-size: 1.8em;
        }
        button{
            display: block;
            margin: 2em auto;
            border: 1px solid $maincolor;
            color: $maincolor;
            border-radius: .5em;
            font-size: 1.4em;
            padding: 0.8em 2em;
            background-color: rgba($color: #000000, $alpha: .1);
            cursor: pointer;
            &:hover{
                background-color: $maincolor;
                color: #fff;
                transition: all .3s ease-out 0.1s;
            }
        }
    }
}
.receiveBlock{
    padding: 20px 0;
    width: 100%;
    .container{
        height: 70vh;
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 2fr 3fr;
        grid-gap: 10px;
        .title{
            align-self: center;
            justify-self: center;
            display: block;
            width: 55%;
            margin: 0 auto;
            text-align: center;
            h1{
                font-size: 2em;
                text-transform: uppercase;
                color: #949699;
                span{
                    color: $maincolor;
                }
                &:after{
                    content: "";
                    display: block;
                    width: 65%;
                    margin: 10px auto;
                    height: 2px;
                    background-color: #949699;
                }
            }
            p{
                padding: 10px;
                font-size: 1.3em;
                color: #949699;
            }
        }
        .blocks{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
            align-items: center;
            text-align: center;
            .block{
                display: grid;
                grid-template-rows: 2fr 1fr 1.5fr;
                align-self: center;
                .icon{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin: 0 auto;
                    border: 4px solid $maincolor;
                    background-color: #f44444;
                    i{
                        color:#fff;
                        font-size: 2.5em;
                        line-height: 90px;
                    }
                    &:hover{
                        background-color: #fff;
                        transition: all .3s ease-out 0.1s;
                        i{
                            color: $maincolor;
                            transition: all .3s ease-out 0.1s;
                        }
                    }
                }
                h3{
                    align-self: end;
                    text-transform: uppercase;
                    color: #949699;
                    &:after{
                        content: "";
                        display: block;
                        width: 25%;
                        margin: 10px auto;
                        height: 2px;
                        background-color: #949699;
                    }
                }
                p{
                    color: #949699;
                    padding: 0 10px;
                }
            }
        }
    }
}
.callUpBlock{
    width: 100%;
    height: 70vh;
    min-height: 430px;
    background: url(../img/fon2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .wrapper{
        width: 100%;
        height: 100%;
        display: block;
        background-color: rgba($color: #000000, $alpha: .5);
        padding: 5% 0;
    }
    .container{
        width: 75%;
        margin: 0 auto; 
        padding: 5% 0;
        border: 8px solid rgba($color: #fff, $alpha: .2);
        text-align: center;
        h1{
            font-size: 4em;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            span{
                color: $maincolor;
            }
        }
        button{
            margin-top: 2.2em;
            font-size: 1.8em;
            color: $maincolor;
            text-transform: capitalize;
            padding: .4em 1.5em;
            text-align: center;
            background: rgba($color: #000000, $alpha: .1);
            border: 3px solid $maincolor;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                color:#fff;
                background-color: $maincolor;
                transition: all .3s ease-out 0.1s;
            }
        }
    }
}
.servicesBlock{
    width: 100%;
    height: 210vh;
    display: grid;
    grid-template-rows: repeat(3 1fr);
    .service:nth-child(odd){
        background:#f4f5f7;
    }
    .container{
        width: 75%;
        margin: 0 auto;
        height: 70vh;
    }
    .service1{
        .container{
            display: grid;
            grid-template-rows: 1fr 4fr;
            grid-template-columns: 1fr 1.5fr;
            grid-column-gap: 10px;
            h1{
                align-self: center;
                justify-self: center;
                grid-column: 1/3;
                color: #949699;
                text-transform: uppercase;
                span{
                    color: $maincolor;
                }
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #949699;
                    margin-top: 5px;
                }
            }
            .text{
                align-self: center;
                h2{
                    font-size: 1.8em;
                    text-transform: uppercase;
                    color: #848588;
                    border-left: 8px solid $maincolor;
                    padding-left: 8px;
                    line-height: 1.8em;
                }
                p{
                    color: #aeaeaf;
                    margin: 10px 0;
                    line-height: 1.8em;
                }
                button{
                    margin-top: 1.2em;
                    font-size: 1.4em;
                    color: #fff;
                    background: $maincolor;
                    border-radius: 5px;
                    padding: .5em 1.5em;
                    border: 2px solid $maincolor;
                    &:hover{
                        color:  $maincolor;
                        background: #fff;
                        transition: all .3s ease-out 0.1s;
                    }
                }
            }
            .img{
                align-self: center;
                text-align: center;
                img{
                    width: 90%;
                }
            }
        }
    }
    .service2{
        .container{
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-column-gap: 10px;
            .text{
                order: 2;
                align-self: center;
                text-align: right;
                h2{
                    font-size: 1.8em;
                    text-transform: uppercase;
                    color: #848588;
                    border-right: 8px solid $maincolor;
                    padding-right: 8px;
                    line-height: 1.8em;
                }
                p{
                    color: #aeaeaf;
                    margin: 10px 0;
                    line-height: 1.8em;
                }
                button{
                    margin-top: 1.2em;
                    font-size: 1.4em;
                    color: #fff;
                    background: $maincolor;
                    border-radius: 5px;
                    padding: .5em 1.5em;
                    border: 2px solid $maincolor;
                    &:hover{
                        color:  $maincolor;
                        background: #fff;
                        transition: all .3s ease-out 0.1s;
                    }
                }
            }
            .img{
                align-self: center;
                text-align: center;
                img{
                    width: 90%;
                }
            }
        }
    }
    .service3{
        .container{
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            grid-column-gap: 10px;
            .text{
                align-self: center;
                h2{
                    font-size: 1.8em;
                    text-transform: uppercase;
                    color: #848588;
                    border-left: 8px solid $maincolor;
                    padding-left: 8px;
                    line-height: 1.8em;
                }
                p{
                    color: #aeaeaf;
                    margin: 10px 0;
                    line-height: 1.8em;
                }
                button{
                    margin-top: 1.2em;
                    font-size: 1.4em;
                    color: #fff;
                    background: $maincolor;
                    border-radius: 5px;
                    padding: .5em 1.5em;
                    border: 2px solid $maincolor;
                    &:hover{
                        color:  $maincolor;
                        background: #fff;
                        transition: all .3s ease-out 0.1s;
                    }
                }
            }
            .img{
                align-self: center;
                text-align: center;
                img{
                    width: 90%;
                }
            }
        }
    }
}
.portfolio{
    width: 100%;
    padding: 10px 0;
    .container{
        width: 75%;
        margin: 0 auto;
        height: 85vh;
        display: grid;
        grid-template-rows: 1fr .8fr 6fr 1fr;
        grid-row-gap: 20px;
        h1{
            align-self: center;
            justify-self: center;
            color: #949699;
            text-transform: uppercase;
            &:after{
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background: #949699;
                margin-top: 5px;
            }
        }
        .nav{
            border-top: 1px solid #949699;
            border-bottom: 1px solid #949699;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            a{
                color: $maincolor;
                text-decoration: none;
                cursor: pointer;
                align-self: center;
                text-align: center;
                font-size: 1.3em;
                &::after{
                    content: '/';
                    float: right;
                }
                &:last-child::after{
                    content: '';
                }
            }
        }
        .works{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
            .box1{
                grid-column: 1/3;
            }
            .box6{
                grid-column: 3/5;
            }
            .box{
                position: relative;
                div{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    background-color: rgba($color:$maincolor, $alpha: .7);
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: all .3s;
                    font-weight: bold;
                    display: grid;
                    grid-template-rows: 1fr 1.5fr;
                    span{
                        font-size: 1.5em;
                        padding: 5px;
                    }
                    i{
                        font-size: 2.5em;
                        justify-self: center;
                    }
                }
                &:hover div{
                    opacity: 1;
                }
            }
            @for $i from 1 through 7{
                .box#{$i} {
                    background-image: url(../img/img#{$i}.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }
            }
        }
        button{
            font-size: 1.2em;
            color: #fff;
            background: $maincolor;
            border-radius: 5px;
            padding: .5em 1.2em;
            border: 2px solid $maincolor;
            align-self: center;
            justify-self: center;
            &:hover{
                color:  $maincolor;
                background: #fff;
                transition: all .3s ease-out 0.1s;
            }
        }
    }
}
.team{
    width: 100%;
    background:#f4f5f7;
    .container{
        width: 75%;
        margin: 0 auto;
        height: 70vh;
        display: grid;
        grid-template-rows: .8fr 3fr; 
        h2{
            align-self: center;
            justify-self: center;
            color: #848588;
            text-transform: uppercase;
            span{
                color: $maincolor;
            }
            &::after{
                content: '';
                width: 100%;
                height: 2px;
                background: #848588;
                display: block;
                margin-top: 3px;
            }
        }
        .content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .person{
                justify-self: center;
                align-self: center;
                display: grid;
                grid-template-rows: 4fr 1fr 1fr 1fr;
                grid-row-gap: 10px;
                .avatar{
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    background: url(../img/ava1.jpg);
                    background-size: contain;
                }
                .name{
                    align-self: center;
                    justify-self: center;
                    color: #646464;
                    font-weight: bold;
                    span{
                        color: $maincolor;
                    }
                }
                .proffesion{
                    align-self: center;
                    justify-self: center;
                    color: #949699;
                }
                .sn{
                    font-size: 1.5em;                    
                    color: #646464;
                    display: flex;
                    justify-content: space-around;
                    transition: all 1s;
                    span{
                        font-size: 1.2em;
                        transition: all .3s;
                        cursor: pointer;
                    }
                    .twitter:hover{
                        color: #5ab2e6;
                    }
                    .fb:hover{
                        color: #463ae9;
                    }
                    .in:hover{
                        color: #3983ad;
                    }
                }
            }
        }
    }    
}
.clients{
    width: 100%;
    .container{
        width: 75%;
        height: 70vh;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(3, 1fr) .5fr;
        .decor{
            align-self: center;
            justify-self: center;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            background-color: $maincolor;
            color: #fff;
            text-align: center;
            font-size: 1.8em;
            line-height: 70px;
        }
        .client{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .comment{
                color: #949699;
                font-size: .9em;
                align-self: center;
            }
            .avatar{
                align-self: center;
                justify-self: center;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                overflow: hidden;
                text-align: center;
                vertical-align: center;
            }
            .profession{
                align-self: center;
                .name{
                    color: #646464;
                    font-size: 1.2em;
                    font-weight: bold;
                    span{
                        color: $maincolor;
                    }
                }
                p{
                    margin-top: 10px;
                    color: #848588;
                }
            }
        }
        .buttons{
            justify-self: center;
            align-self: center;
            div{
                display: inline-block;
                margin: 0 10px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $maincolor;
                text-align: center;
                line-height: 28px;
                color: $maincolor;
                font-size: 1.3em;
                cursor: pointer;
                transition: all .3s;
                &:hover{
                    background-color: $maincolor;
                    color: #fff;
                }
            }
        }
    }
}
.location{
    width: 100%;
    height: 43vh;
    position: relative;
    .contacts{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: $maincolor;
        border: 10px solid #f79895;
        position: absolute;
        text-align: center;
        color: #fff;
        padding-top: 30px;
        left: calc(50% - 75px);
        top: -25%;
        z-index: 99999;
        h3{
            font-size: 1.2em;
            font-weight: bold;
        }
        p{
            font-size: .8em;
            margin-top: 5px;
        }
    }
    .maps{
        overflow: hidden;
    }
}
footer{
    width: 100%;
    height: 30vh;
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: .6);
    }
    .logo{
        color: #fff;
        font-weight:bold;
        font-size: 1.4em;
        position: absolute;
        z-index: 99999;
        cursor: pointer;
        top: 43%;
        left: 46%;
        span{
            color: #fff;
            border: 1px solid $maincolor;
            padding: 10px 12px;
            background-color: $maincolor;
        }
    }
}