$maincolor: #fc645f;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.main{
    
}
header{
    width: 100%;
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .5)
    }
    .container{
        height: 100vh;
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 6fr 1fr;
    }
    .head{
        z-index: 100;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        grid-column-gap: 10px;
        .logo{
            color: #fff;
            font-weight:bold;
            font-size: 1.4em;
            cursor: pointer;
            span{
                color: #fff;
                border: 1px solid $maincolor;
                padding: 8px;
                background-color: $maincolor;
            }
        }
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: end;
            font-size: 1em;
            text-transform: uppercase;
            a{
                display: inline-block;
                color: #fff;
                &:after{
                    content: "";
                    display: block;
                    width: 0%;
                    height: 2px;
                    background-color: $maincolor;
                    transition: width .3s;
                }
                &:hover{
                    color: $maincolor;
                    transition: all .3s ease-out 0.1s;
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
    }
    .body{
        z-index: 100;
        align-self: center;
        color: #fff;
        text-align: center;
        h1{
            font-size: 4em;
            display: block;
            position: relative;
            text-transform: uppercase;
            span{
                color: $maincolor;
            }
            &:before{
                content: "";
                display: block;
                width: 10%;
                height: 12px;
                position: absolute;
                top: 40%;
                background-color: #949699;
            }
            &:after{
                content: "";
                display: block;
                width: 10%;
                height: 12px;
                position: absolute;
                top: 40%;
                right: 0;
                background-color: #949699;
            }
        }
        p{
            display: block;
            font-size: 1.8em;
        }
        button{
            display: block;
            margin: 2em auto;
            border: 1px solid $maincolor;
            color: $maincolor;
            border-radius: .5em;
            font-size: 1.4em;
            padding: 0.8em 2em;
            background-color: rgba($color: #000000, $alpha: .1);
            cursor: pointer;
            &:hover{
                background-color: $maincolor;
                color: #fff;
                transition: all .3s ease-out 0.1s;
            }
        }
    }
}